# .env.example

# Set to True during development, switch to False in production
DEBUG=False

# A secret key for Django applications. Replace 'your_secret_key_here' with a strong, unique key.
SECRET_KEY=your_secret_key_here

# Comma-separated values of allowed hosts. Add your production domain when deploying.
# Let 'localhost' be a value, as healthcheck is performed based on it
ALLOWED_HOSTS=django,localhost,127.0.0.1,0.0.0.0,[::1]

# Username for the PostgreSQL server
POSTGRES_USER=your_user_name

# Password for the POSTGRES_USER. Choose a strong password.
POSTGRES_PASSWORD=your_password

# Name of your database 
POSTGRES_DB=your_database_name

# Port of the PostgreSQL server - 5432 is the default value
POSTGRES_PORT=5432
